<div class="table-center">
  <table class="center procurement-table">
    <thead>
      <tr>
        <th>City</th>
        <th>State</th>
        <th>Agency Type</th>
        <th class="column-number" data-dynatable-sorts="threshold-num">Threshold</th>
        <th class="column-number" data-dynatable-sorts="population-num">Population</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% data.procurement.each do |procurement| %>
        <tr>
          <td><%= procurement.city %></td>
          <td><%= procurement.state %></td>
          <td><%= procurement.type %></td>
          <td class="column-number"><%= procurement.threshold %></td>
          <td class="column-number"><%= number_to_delimited(procurement.population) %></td>
          <td><%= link_to truncate(procurement.url, :length => 20), procurement.url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
