<div class="table-center">
  <table class="center" id="procurement-table">
    <thead>
      <tr>
        <th class="xl24">City</th>
        <th class="xl24">State</th>
        <th class="xl24">Agency Type</th>
        <th class="xl24">Threshold</th>
        <th class="xl25">Population</th>
      </tr>
    </thead>
    <tbody>
      <% data.procurement.each do |procurement| %>
        <tr>
          <td class="xl26"><%= procurement.city %></td>
          <td class="xl26"><%= procurement.state %></td>
          <td class="xl26"><%= procurement.type %></td>
          <td class="xl28"><%= procurement.threshold %></td>
          <td class="xl28"><%= number_to_delimited(procurement.population) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
